* {
	margin: 0 auto;
	padding: 2px;

}

nav{
	position: absolute;
	top: 0px;
	left: 75%;
	padding: 1%;
	text-align: right;
}

/*link*/
nav ul li {
	font-size: 100%;
	display: inline-block;
	padding: 2px;
}

nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'goergia', 'Times of roman';
	color: black;
}
nav ul li a:hover {
	text-decoration: underline;
}

/*a:link*/
a:link{
	color: white;
	text-decoration: none;
}
/*a:visited*/
a:visited{
	color: white;
	text-decoration:underline;

}
/*a:hover*/
a:hover{
	text-decoration: underline;
	color: skyblue;
}
/*a:active*/
a:active{
	color: blue;
}

.heading {
	background-color: #001a33;
	margin: 0 auto;
	font-family: chiller;
	font-size: 1500%;
}

.mainbody {
	background-color: #ffffe6;
}

.qoutes {
	background-color: #ffffe6;
	text-align: center;
	font-size: 350%;
	margin: 0 auto;
}

.aboutus {
	font-size: 150%;
}

.subheading1 {
	margin: 0 auto;
	font-size: 200%;

}

.image {
	position: absolute;
	right: 0px;
	width: 45%;
}

.box1 {
	width: 50%;
	height: 40%;
	border: none;
	position: absolute;
	left: 0px;
}

.box2 {
	width: 100%;
	height: 40%;
	border: none;
	background-color: #001a33;
}

.sign{
	background-color: #1affa3;
	border-radius: 10%;
	width: 25%;
	height: 40%;
	font-size: 200%;
	border-width: 0px;
	position: relative;
	left: 37.5%;
	
}

.subheading2_box3 {
	text-align: center;
	width: 80%;
	height: 28%;
	font-size: 500%;

	text-decoration-color: white;
}

.copyright {
	padding: 2%;
	font-size: 100%;
	text-align: center;
}